Repository dfiedlerx/easy_nextjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.tsx": "eslint",
  "*.ts": "eslint",
  "*.js": "eslint",
  "*.md": "prettier --list-different"
}

fix: 🐛 remove mocks and generator from jest watc (#9)
  .github/workflows/CI.yml
  jest.config.js
Due: eslint

Update package.json
  package.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

docs: ✏️ add new generator info readme.md (#10)
  README.md
Due: prettier --list-different

feat: 🎸 add route change example (#11)
  package-lock.json
  package.json
  src/app/(redux)/redux-example/page.test.tsx
  src/app/(redux)/redux-example/page.tsx
  src/app/(redux)/redux-persist-example/page.test.tsx
  src/app/(redux)/redux-persist-example/page.tsx
  src/app/layout.tsx
  src/mocks/useRouter.mock.tsx
Due: eslint

fix: 🐛 fix conflicts from persistStore and normalStore (#12)
  src/redux/features/persistSave/persistSave.feature.tsx
Due: eslint

fix: 🐛 fix problem ssr with persist Gate - Improve services int (#13)
  .husky/pre-commit
  commitlint.config.js
  package-lock.json
  package.json
  src/app/(redux)/redux-persist-example/page.test.tsx
  src/app/(redux)/redux-persist-example/page.tsx
  src/app/(service)/service-example/page.tsx
  src/components/DarkModeButton/dark-mode-button.component.tsx
  src/providers/redux-provider/redux-provider.tsx
  src/redux/createNoopStorage/createNoopStorage.test.tsx
  src/redux/createNoopStorage/createNoopStorage.tsx
  src/redux/features/persistSave/persistSave.feature.tsx
  src/redux/getStorage/getStorage.test.tsx
  src/redux/getStorage/getStorage.tsx
  src/redux/persistSaveReducerPersisted/persistSaveReducerPersisted.tsx
  src/redux/persistor/persistor.tsx
  src/redux/store/store.tsx
  src/screens/service-example-screen/service-example-screen.module.css
  src/screens/service-example-screen/service-example-screen.test.tsx
  src/screens/service-example-screen/service-example-screen.tsx
  src/utils/fetchFromApi.tsx
Due: eslint

Create LICENSE
  LICENSE
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --list-different

Create SECURITY.md
  SECURITY.md
Due: prettier --list-different
